@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: "Inria Sans", sans-serif;
}

.homepage-mainContainer {
  display: flex;
  justify-content: center;
  margin: auto;
}

.homepage-container {
  /* max-width: 1200px; */
  width: 100%;
  font-family: "Inria Sans", sans-serif;
  overflow: hidden;
}

.navbar {
  /* position: relative; */
  background-color: #ffc61a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 1000;
  text-align: center;
}

.navbar-mainContainer {
  /* max-width: 1200px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc61a;
  /* background-color: rgba(255, 198, 26, 0.5); */ /*for glass kind of navbar background*/
  backdrop-filter: blur(5px);
  position: fixed;
  margin: auto;
  top: 0;
  /* height: 10vh; */
  transition: all 0.5s ease-in-out;
}

/* .navbar-mainContainer.scrolled{
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
} */

.navbar-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 3rem;
}

.navbar-logo-img {
  height: 10vh;
  padding: 1rem 0;
  cursor: pointer;
}

.navbar-links ul {
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
}

.navbar-links ul li {
  list-style-type: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links ul li.book-now {
  border: 1px dashed black;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  background-color: #ffbf00;
}

.navbar-links ul li.book-now:hover {
  border: 2px solid black;
}

.navbar-links ul li.book-now a {
  display: inline-block;
  animation: blink 2.5s infinite;
}

.navbar-links ul li.book-now a:hover {
  opacity: 1;
  animation-play-state: paused;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.navbar-links ul li:not(:last-child) {
  margin-right: 40px;
}

.navbar-mainContainer .navbar-links ul a {
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.navbar-mainContainer.scrolled .navbar-links ul a {
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.navbar-links ul a:hover:not(:last-child) {
  font-size: 16px;
  font-weight: 400;
  color: #d0b973;
  text-decoration: none;
}

.navbar-links ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.navbar-links ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
} 

.hero-section {
 /* background-color: #1f1f1f; */
  background: url(/me.png) no-repeat center center/cover;

  

  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  /* margin: 10vh 0 0; */
}

.hero-left-mainContainer {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.hero-left-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 50%;
  min-width: 280px;
  margin-top: 10vh;
}

.hero-left-container h1 {
  text-align: left;
  font-family: "Inria Sans", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  color: #ffffff;
  margin: 0;
  padding: 0 10px;
}

.hero-left-container p {
  color: #ffffff;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 33%,
    rgba(0, 0, 0, 1) 64%,
    rgba(0, 0, 0, 0.43907563025210083) 97%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 0 10px;
}

.hero-btn {
  text-align: left;
  padding: 0 10px;
}

.hero-btn a button {
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 1rem 0 0;
  font-size: 1.5rem;
}

.hero-btn a:first-child button {
  background-color: #ffc61a;
  border: 1px solid #000000;
  transition: all 0.25s ease 0s;
}

.hero-btn a:first-child button:hover {
  background-color: #ffd148;
  border: none;
}

.hero-btn a:last-child button {
  background-color: transparent;
  border: 1px solid #4e4e4e;
  color: #ffffff;
  font-weight: 700;
  transition: all 0.25s ease 0s;
}

.hero-btn a:last-child button:hover {
  background-color: #ffc61a17;
  border: 1px solid #000000;
  color: #ffffff;
}

.form-mainContainer {
  margin: auto;
  width: 100%;
}

.form-container {
  max-width: 1200px;
  /* width: 100%; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: -50px auto 0;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 0 0 5rem;
}

.form-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  gap: 25px;
  /* padding: 1rem 3rem; */
}

.form-form {
  width: 100%;
  flex-basis: 500px;
  flex-grow: 1;
  padding: 1rem 5rem;
}

.form-img {
  width: 100%;
  flex-basis: 300px;
  flex-grow: 1;
  overflow: hidden;
  padding: 1rem 0;
}

.form-form .form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form-input input {
  padding: 0.75em;
  margin: 1rem 0;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
}

.form-input select {
  padding: 0.75em;
  margin: 1rem 0;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}

.form-img-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-submit {
  text-align: left;
}

.form-submit button {
  width: fit-content;
  background-color: #ffc61a;
  border: none;
  border-radius: 5px;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.services-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 5rem;
}

.form-title,
.services-title,
.rent-title,
.fav-routes-title,
.contact-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 5rem 0;
}

.form-title p,
.services-title p,
.rent-title p,
.fav-routes-title p {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  color: #ffc61a;
}

.form-title h1,
.services-title h1,
.rent-title h1,
.fav-routes-title h1 ,
.contact-title h1
{
  font-size: 4.5rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  color: #1f1f1f;
}

.services-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 2rem auto; */
  margin: 2rem -1px;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
  width: 33%;
  min-width: 230px;
  height: fit-content;
  box-sizing: border-box;
  padding: 0.5rem 5rem;
  overflow: hidden;
  border: 1px dashed rgba(128, 128, 128, 0.15);
  margin-bottom: 10px;
  /* border-right: 1px dashed gray; */
}

.service-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  padding: 1rem 2rem;
}

.service p {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 auto;
}

.service span {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6em;
  margin: 0 auto 1.5rem;
  color: #1f1f1f;
}

.rent-mainContainer {
  max-width: 1200px;
  width: 100%;
  display: flex;
  margin: auto;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.rent-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 0 10rem;
}

.rent-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
  gap: 25px;
}

.rent-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22%;
  min-width: 240px;
  height: fit-content;
  box-sizing: border-box;
  /* overflow: hidden; */
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
  background-color: #ffffff;
}

.rent-cardImg {
  width: 100%;
  min-height: 210px;
  height: 100%;
  box-sizing: border-box;
  padding: 5rem;
}

.rent-cardImg-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.rent-description {
  text-align: center;
  margin: 0 auto 1rem;
}

.rent-description h1 {
  font-size: 3rem;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 0 0.5rem;
}

.rent-description p {
  font-size: 1.2rem;
  line-height: 1.6em;
  margin: 0.5rem;
}

.rent-description span {
  display: flex;
  justify-content: center;
  gap: 2px;
  font-size: 3rem;
  font-weight: 700;
  color: grey;
}

.contact-mainContainer{
  max-width: 1200px;
  width: 100%;
  display: flex;
  margin: auto;
}

.contact-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 5rem;
}

.contact-contacts{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  max-width: 800px;
}

.contact-phone{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact-contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.contact-contact p{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact-email{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem auto 0;
}

.contact-phone h1, .contact-whatsapp h1, .contact-email h1{
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: 900;
}

.contact-phone p, .contact-whatsapp p, .contact-email p{
  /* margin: auto auto 25px; */
 

    font-size: 2rem;
    font-weight: 500;
    width: max-content;
    padding: 8px;
}

.fav-routes-mainContainer {
  width: 100%;
  display: flex;
  margin: auto;
}

.fav-routes-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 5rem;
}

.fav-routes-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
  gap: 25px;
}

.fav-routes-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22%;
  min-width: 250px;
  height: fit-content;
  box-sizing: border-box;
  /* overflow: hidden; */
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
  background-color: #ffffff;
}

.fav-routes-strip {
  flex-grow: 1;
  background-color: #ffc61a;
}

.fav-routes-strip p {
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding-left: 2px;
  padding-right: 2px;
}

.fav-routes-cardImg {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding: 5rem;
}

.fav-routes-cardImg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fav-routes-description {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.fav-routes-car1,
.fav-routes-car2,
.fav-routes-car3,
.fav-routes-car4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  margin: auto;
  width: 100%;
}

.fav-routes-description p {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0.5rem 0;
}

.fav-routes-description span {
  font-size: 2rem;
  font-weight: 500;
  opacity: 0.7;
  margin: 0;
}

.fav-routes-btn button {
  background-color: #ffc61a;
  border: none;
  border-radius: 5px;
  margin: 1.5rem auto;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.footer-mainContainer {
  width: 100%;
  display: flex;
  margin: auto;
  background-color: #ffc61a;
}

.footer-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 3rem;
}

.footer-about {
  width: fit-content;
  max-width: 500px;
  flex-basis: 300px;
  flex-grow: 1;
  text-align: left;
  padding: 1rem 2rem;
}

.footer-links {
  width: fit-content;
  /* flex-basis: 500px; */
  flex-grow: 1;
  text-align: left;
  padding: 1rem 2rem;
}

.footer-contactUs {
  width: fit-content;
  flex-basis: 250px;
  /* flex-grow: 1; */
  text-align: right;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

 


.footer-about h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  /* padding: 1rem 0; */
  color: #1f1f1f;
  text-align: left;
}

.footer-contactUs h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 1rem 0 0;
  color: #1f1f1f;
  text-align: right;
}

.footer-about h2 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  padding: 1rem 0 0;
  color: #1f1f1f;
  text-align: left;
}

.footer-about span {
  margin: 0;
  padding: 0;
  color: #1f1f1f;
  text-align: left;
}

.footer-about p {
  font-size: 1.7rem;
  line-height: 1.6em;
  text-align: justify;
  margin: 0;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  text-align: left;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 0;
  line-height: 1.5rem;
  border-bottom: 1px dashed #1f1f1f;
  max-width: 300px;
}

.footer-links ul li::after {
  content: " ";
  display: table;
}

.footer-links ul li a {
  text-decoration: none;
  color: #1f1f1f;
}



.social-media {
  display: grid;
  background-color: transparent;
  width: fit-content;
  height: 100%;
  justify-content: space-around;
  justify-items: stretch;
  align-items: stretch;
  align-content: start;
  gap: 5px;
}

.icon {
  padding: 5px;
  text-align: center;
  background-color: #f2f2f2;
}

.icon2 {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}



.footer-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  gap: 10px;
  margin: 0;
}

.footer-contacts p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-contactUs p {
  font-size: 1.5rem;
  text-align: right;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 590px)  {
  .footer-contactUs{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    width: -moz-fit-content;
    /* width: fit-content; */
    /* flex-basis: 500px; */
    flex-grow: 1;
    /* text-align: left; */
    /* padding: 1rem 2rem; */

  }
}
/* 981 to 680 */
@media screen and (max-width : 1000px) {
  .footer-contactUs{
   
    flex-grow: 1;
    

  }
}

.whatsapp {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;

  cursor: pointer;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 0.8em;
  /* width: fit-content; */
  /* height: fit-content; */
  background-color: white;
  backdrop-filter: blur(5px);
  border: none;
}

.whatsapp:hover {
  transform: scale(1.1);
}

input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media screen and (max-width: 870px) {
  .form-img {
    display: none;
  }

  .form-submit {
    text-align: center;
  }

  .service {
    border-right: none;
    padding: 0.5rem 2rem;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 9px;
  }

  .form-title,
  .services-title,
  .rent-title,
  .fav-routes-title {
    padding: 2rem 1rem;
  }

  .rent-cardImg {
    min-height: 150px;
    display: flex;
    padding: 4rem;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 368px) {
  .hero-section {
    background: url(/Group2.png);
    width: 100%;
  }
}

/* Navbar */
.navbar-menu-button {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 2rem;
}
.navbar-menu-button span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 930px) {
  .navbar-menu-button {
    display: block;
  }
  .navbar-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffc61a;
    /* padding: 1rem; */
  }
  .navbar-mainContainer {
    background-color: #ffc61a;
  }
  .navbar-links ul {
    flex-direction: column;
    gap: 1rem;
  }
  .navbar-links ul li:not(:last-child) {
    margin-right: 0;
  }
  .navbar-links.show {
    display: block;
  }
  .navbar-menu-button.active span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .navbar-menu-button.active span:nth-child(2) {
    opacity: 0;
  }
  .navbar-menu-button.active span:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

@media screen and (max-width: 930px) {
  .navbar-container {
    /* flex-direction: column; */
    align-items: center;
  }
  .navbar-mainContainer .navbar-logo {
    margin: auto 0;
  }
  .navbar-links ul {
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }
  .navbar-links ul li {
    padding: 1rem 0;
  }
  .navbar-links ul li:not(:last-child) {
    margin-right: 0;
  }
}

/* End of Navbar */

@media screen and (max-width: 1380px) {
  .hero-left-container {
    margin: 0;
  }

  .hero-left-container p {
    margin: 0 0 1rem;
  }
}

@media screen and (max-width: 1330px) {
  .hero-left-container h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 920px) {
  .hero-left-container h1 {
    font-size: 4rem;
  }
  .hero-left-container p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  .hero-left-mainContainer {
    margin: 20vh auto 0;
  }

  /* .hero-left-container p {
    display: none;
  } */
}

@media screen and (max-width: 600px){
  .hero-section{
    backface-visibility: .5;
  }

  .hero-left-mainContainer {
    display: flex;
    justify-content: center;
    /* align-items: center;
    margin: 15vh auto 0; */
    text-align: center;
  }
  
  .hero-left-container{
    width: 60%;
    text-align: center;
    /* justify-content: center;
    align-items: center; */
  }
}
